.style-0 {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 90px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-1 {
  max-width: 1420px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 90px;
  position: relative;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.style-2 {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: left;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-3 {
  margin-right: 0px;
  height: 90px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  display: block;
}

.style-4 {
  display: flex;
  list-style: outside none none;
  height: 90px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-5 {
  padding-left: 0px;
  display: flex;
  margin-left: -1px;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-6 {
  position: relative;
  display: block;
  padding: 4.8px 0px;
  backface-visibility: hidden;
  white-space: nowrap;
  align-items: center;
  text-decoration: none solid rgb(40, 40, 40);
  color: rgb(40, 40, 40);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(40, 40, 40) none 0px;
}

.style-7 {
  position: relative;
  align-items: center;
  display: flex;
  padding-left: 24px;
  margin-left: -1px;
  height: 90px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-8 {
  position: relative;
  display: block;
  padding: 4.8px 0px;
  backface-visibility: hidden;
  white-space: nowrap;
  align-items: center;
  text-decoration: none solid rgb(40, 40, 40);
  color: rgb(40, 40, 40);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(40, 40, 40) none 0px;
}

.style-9 {
  padding: 30px 0px;
  margin: 0px;
  list-style: outside none none;
  position: absolute;
  top: 90px;
  left: -3px;
  z-index: 10;
  text-align: start;
  visibility: hidden;
  opacity: 0;
  transition: all 0.18s cubic-bezier(0.2, 0.06, 0.05, 0.95) 0.2s;
  line-height: 24px;
  display: block;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-10 {
  display: block;
  width: 240px;
  padding: 0px 27px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-11 {
  padding: 6.4px 0px;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  text-decoration: none solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(68, 68, 68) none 0px;
}

.style-12 {
  display: block;
  width: 240px;
  padding: 0px 27px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-13 {
  padding: 6.4px 0px;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  text-decoration: none solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(68, 68, 68) none 0px;
}

.style-14 {
  display: block;
  width: 240px;
  padding: 0px 27px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-15 {
  padding: 6.4px 0px;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  text-decoration: none solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(68, 68, 68) none 0px;
}

.style-16 {
  display: block;
  width: 240px;
  padding: 0px 27px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-17 {
  padding: 6.4px 0px;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  text-decoration: none solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(68, 68, 68) none 0px;
}

.style-18 {
  display: block;
  width: 240px;
  padding: 0px 27px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-19 {
  padding: 6.4px 0px;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  text-decoration: none solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(68, 68, 68) none 0px;
}

.style-20 {
  display: block;
  width: 240px;
  padding: 0px 27px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-21 {
  padding: 6.4px 0px;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  text-decoration: none solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(68, 68, 68) none 0px;
}

.style-22 {
  display: block;
  width: 240px;
  padding: 0px 27px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-23 {
  padding: 6.4px 0px;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  text-decoration: none solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(68, 68, 68) none 0px;
}

.style-24 {
  margin-bottom: 0px;
  display: block;
  width: 240px;
  padding: 0px 27px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-25 {
  padding: 6.4px 0px;
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  text-decoration: none solid rgb(68, 68, 68);
  color: rgb(68, 68, 68);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(68, 68, 68) none 0px;
}

.style-26 {
  display: flex;
  padding-left: 24px;
  margin-left: -1px;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-27 {
  position: relative;
  display: block;
  padding: 4.8px 0px;
  backface-visibility: hidden;
  white-space: nowrap;
  align-items: center;
  text-decoration: none solid rgb(40, 40, 40);
  color: rgb(40, 40, 40);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(40, 40, 40) none 0px;
}

.style-28 {
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-29 {
  margin: 0px 17px;
  height: 90px;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-30 {
  text-decoration: none solid rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 90px;
  color: rgb(40, 40, 40);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(40, 40, 40) none 0px;
}

.style-31 {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: "Encode Sans", sans-serif;
  color: rgb(40, 40, 40);
}

.style-32 {
  opacity: 0;
  display: none;
  max-width: none;
  width: auto;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 0px none rgb(40, 40, 40);
  height: auto;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  max-height: 26px;
}

.style-33 {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  text-align: right;
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 90px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-34 {
  margin-left: 0px;
  display: flex;
  align-items: center;
  text-decoration: none solid rgb(40, 40, 40);
  color: rgb(40, 40, 40);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(40, 40, 40) none 0px;
}

.style-35 {
  display: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-36 {
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-37 {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-38 {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-39 {
  position: relative;
  margin-left: 24px;
  display: flex;
  align-items: center;
  text-decoration: none solid rgb(40, 40, 40);
  color: rgb(40, 40, 40);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(40, 40, 40) none 0px;
}

.style-40 {
  display: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-41 {
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-42 {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-43 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  margin-left: 4px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-44 {
  margin-left: 24px;
  display: flex;
  align-items: center;
  text-decoration: none solid rgb(40, 40, 40);
  color: rgb(40, 40, 40);
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  outline: rgb(40, 40, 40) none 0px;
}

.style-45 {
  display: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-46 {
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-47 {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-48 {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-49 {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.style-50 {
  display: none;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  line-height: 17px;
  background: rgba(255, 255, 255, 0) none repeat scroll 0% 0% / auto padding-box
    border-box;
  color: rgb(185, 161, 107);
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
